{% block dropsolid_mj_subscription_block %}
    {% spaceless %}
        <h2>{{ settings.title }}</h2>
        <p>{{ settings.description }}</p>
        {{ form }}
    {% endspaceless %}
{% endblock %}